<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima adipisci quibusdam iure veritatis. Aliquam, ipsam?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est quidem at laborum quam fugit architecto corporis assumenda officia id quaerat?</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">faztWeb</a>
</div>