<h1>Navigation</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste suscipit, officiis blanditiis, voluptate nesciunt aliquid dolores aspernatur non rem eos ut ex quo recusandae nostrum fuga id nemo atque sunt.</p>
<h1>Footer</h1>